.r-text-bg {
    @include media-breakpoint-up(lg) {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    @include media-breakpoint-up(xs) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-up(lg) {
            padding: 90px 40px;
        }
        @include media-breakpoint-up(xs) {
            padding: 60px 10px;
        }
        &__figure {
            margin-top: 100px;
            position: absolute;
            z-index: -2;
            svg {
                width: auto;
                @include media-breakpoint-down(md) {
                    height: 200px;
                }
            }
        }
    }
    h2 {
        text-align: center;
    }
    &__bg {
        position: absolute;
        z-index: -5;
        inset: 0 0 0 0;
        background-position: center;
        background-size: 100% auto;
        background-repeat: repeat-y;
        opacity: 0.5;
        filter: grayscale(0.5);
    }
}