.childhood {
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include media-breakpoint-up(xs) {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: #F6CCC7;
        height: 1px;
        display: block;
        margin: 0 auto;
        @include media-breakpoint-up(lg) {
            width: calc(100% - 110px);
            margin-left: 55px;
        }
        @include media-breakpoint-up(xs) {
            width: calc(100% - 60px);
            margin-left: 30px;
        }
    }
    &__content {
        text-align: center;
        margin: 0 auto;
        max-width: 883px;
        &__subheading {
            font-size: 16px;
        }
        &__btn {
            margin-top: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
