.h-temple {
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    @include media-breakpoint-up(xs) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .container-wrapper {
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__flex {
        &-top,
        &-bottom {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            @include media-breakpoint-down(md) {
                flex-wrap: wrap;
            }
            @include media-breakpoint-up(lg) {
                &:not(:last-child) {
                    margin-bottom: 66px;
                }
            }
        }
        &-top {
            .h-temple__flex-img__figure {
                position: relative;
                display: block;
                margin-top: 10%;
                right: 0;
                width: 30%;
                .figure-svg-base {
                    &.figure-select-brush {
                        transform: rotateY(180deg);
                    }
                    svg {
                        height: auto;
                        @include media-breakpoint-up(lg) {
                            width: 227px;
                        }
                    }
                }
            }
            .h-temple__item {
                @include media-breakpoint-down(md) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                &:first-child {
                    @include media-breakpoint-down(md) {
                        .h-temple__flex-img {
                            order: 2;
                            justify-content: flex-start;
                            img {
                                @include media-breakpoint-down(md) {
                                }
                                &:first-child {
                                    width: 60%;
                                    margin-right: 10%;
                                }
                                &:last-child {
                                    width: 30%;
                                }
                            }
                        }
                        .h-temple__text {
                            order: 3;
                        }
                    }
                }
                .h-temple__flex-img {
                    &:first-child {
                        margin-bottom: 55px;
                    }
                }
            }

            .h-temple__item:last-child {
                .h-temple__flex-img {
                    @include media-breakpoint-down(lg) {
                        justify-content: flex-start;
                    }
                }
            }
        }
        &-bottom {
            .figure-svg-base {
                position: absolute;
                top: -10%;
                left: -10%;
                z-index: -1;
                svg {
                    height: auto;
                    @include media-breakpoint-up(lg) {
                        width: 487px;
                    }
                    @include media-breakpoint-up(xs) {
                        width: 250px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                .h-temple__item {
                    &:last-child {
                        order: -1;
                        justify-content: flex-start;
                    }
                    img {
                        @include media-breakpoint-down(md) {
                        }
                        &:first-child {
                            width: 45%;
                            margin-right: 10%;
                        }
                        &:last-child {
                            width: 45%;
                        }
                    }
                }
            }
            .h-temple__item {
                @include media-breakpoint-down(md) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                .h-temple__flex-img {
                    @include media-breakpoint-only(lg) {
                        justify-content: flex-start;
                    }
                }
            }
        }
        &-img {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
            }
            img:first-child {
                @include media-breakpoint-up(lg) {
                    margin-right: 50px;
                }
            }
        }
    }
    &__item {
        position: relative;
        @include media-breakpoint-up(lg) {
            flex: 0 1 50%;
            max-width: 50%;
            padding-right: 30px;
            &:last-child {
                padding-right: 0;
                padding-left: 30px;
            }
        }
        @include media-breakpoint-down(md) {
            flex: 0 1 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }
        .h-temple__text {
            @include media-breakpoint-up(lg) {
                &:not(:last-child) {
                    margin-bottom: 54px;
                }
            }
        }
    }
    &__text {
        font-size: 16px;
        p {
            margin-bottom: 1em;
        }
    }
}
