.footer {
    position: relative;
    overflow: hidden;
    background: $color-text;
    @include media-breakpoint-up(xs) {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    &__flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        > *:not(.footer__logo) {
            @include media-breakpoint-up(xlg) {
                margin-top: 40px;
            }
            @include media-breakpoint-up(lg) {
                margin-top: 28px;
            }
        }
    }
    &__logo {
        @include media-breakpoint-down(lg) {
            svg {
                width: 120px;
                height: auto;
            }
        }
        @include media-breakpoint-down(md) {
            svg {
                width: 144px;
            }
        }
    }
    &__navs {
        @include media-breakpoint-up(xlg) {
            max-width: 900px;
            grid-column-gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(123px, max-content));
        }
        @include media-breakpoint-up(lg) {
            max-width: 720px;
            grid-column-gap: 16px;
            grid-template-columns: repeat(auto-fit, minmax(60px, max-content));
        }
        @include media-breakpoint-only(lg) {
            ul {
                li {
                    a {
                        white-space: nowrap;
                    }
                }
            }
        }
        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }
        display: grid;
        align-items: flex-start;
        @include media-breakpoint-up(lg) {
            grid-row-gap: 60px;
        }
        &__item {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 20px;
                    &:first-child {
                        a {
                            font-weight: bold;
                        }
                    }
                    @include media-breakpoint-down(md) {
                        display: none;
                        &:first-child {
                            a {
                                font-weight: normal;
                            }
                            display: block;
                            margin-bottom: 30px;
                            font-size: 15px;
                            text-align: center;
                        }
                    }
                    a {
                        text-transform: uppercase;
                        color: $primary-1;
                        letter-spacing: 0.05em;
                        font-size: 12px;
                        &:hover {
                            color: $primary-btn-hover;
                        }
                    }
                }
            }
        }
        &__btn {
            @include media-breakpoint-up(lg) {
                display: none;
            }
            @include media-breakpoint-down(md) {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
            }
        }
    }
    &__other {
        &__social {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                overflow: hidden;
                @include media-breakpoint-down(md) {
                    justify-content: center;
                }
                li {
                    &:not(:last-child) {
                        @include media-breakpoint-up(xlg) {
                            margin-right: 20px;
                        }
                        @include media-breakpoint-up(xs) {
                            margin-right: 10px;
                        }
                    }
                    a {
                        color: transparent;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 40px;
                        max-width: 40px;
                        max-height: 40px;
                        border-radius: 50%;
                        padding: 0 10px;
                        background-color: $primary-1;
                        position: relative;
                        &:hover {
                            background-color: $primary-btn-hover;
                        }
                        img {
                            position: absolute;
                        }
                    }
                }
            }
        }
        &__copyright {
            @include media-breakpoint-up(xlg) {
                margin-top: 100px;
            }
            @include media-breakpoint-up(lg) {
                margin-top: 60px;
            }
            @include media-breakpoint-down(md) {
                text-align: center;
                margin-top: 50px;
            }
            .copyright {
                font-size: 12px;
                color: $primary-1;
            }
        }
    }
}
