$header: "header";

.header {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    transition: all 0.2s ease-in-out;
    @include media-breakpoint-down(md) {
        &.toggled {
            & > .container {
                position: relative;
                z-index: 99;
            }
        }
    }

    &.home-header {
        background: rgba(255, 255, 255, 0.3);
    }
    &.fixed {
        position: fixed;
        animation: HeaderAnim ease-in-out 0.4s alternate;
        background: $white;
        box-shadow: 0px 4px 30px rgba(50, 55, 63, 0.09);
        .header__flex {
            @include media-breakpoint-up(lg) {
                padding: 0;
            }
        }
        @include media-breakpoint-only(md) {
            .header__flex {
                padding-bottom: 10px;
            }
        }
        @include media-breakpoint-only(xs) {
            .header__flex {
                & > *:not(.header__logo) {
                    margin-top: 5px;
                }
            }
        }
    }
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media-breakpoint-up(lg) {
            padding: 10px 0;
        }
        & > *:not(.header__logo) {
            margin-top: 15px;
        }
    }
    &__logo {
        overflow: hidden;
        svg {
            @include media-breakpoint-down(lg) {
                width: 130px;
                height: auto;
            }
            @include media-breakpoint-down(md) {
                width: 110px;
            }
            @include media-breakpoint-down(xs) {
                width: 100px;
            }
        }
    }
    &__menu {
        @include media-breakpoint-only(lg) {
            padding-left: 10px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            @include media-breakpoint-down(lg) {
                flex-wrap: wrap;
            }
            li {
                overflow: hidden;
                a {
                    color: $color-text;
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    font-size: 12px;
                    &:hover {
                        font-weight: 700;
                    }
                }
                &:not(:last-child) {
                    @include media-breakpoint-up(xlg) {
                        margin-right: 30px;
                    }
                    @include media-breakpoint-up(lg) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
    }
    &__social {
        @include media-breakpoint-up(xlg) {
            margin-right: 40px;
        }
        @include media-breakpoint-up(sm) {
            margin-right: 20px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            overflow: hidden;
            li {
                &:not(:last-child) {
                    @include media-breakpoint-up(xlg) {
                        margin-right: 20px;
                    }
                    @include media-breakpoint-up(xs) {
                        margin-right: 10px;
                    }
                }
                a {
                    color: transparent;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    max-width: 40px;
                    max-height: 40px;
                    border-radius: 50%;
                    padding: 0 10px;
                    background-color: $primary-1;
                    position: relative;
                    &:hover {
                        background-color: $primary-btn-hover;
                    }
                    img {
                        position: absolute;
                    }
                }
            }
        }
    }
    &__tel {
        @include media-breakpoint-up(lg) {
            display: none;
        }
        @include media-breakpoint-down(md) {
            padding-top: 5px;
        }
        @include media-breakpoint-down(xs) {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a {
                margin-right: 42px;
            }
        }
    }
    &__flex {
        > .header__menu {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        > .header__btns {
            .header__social {
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
            .header__btn {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
    }


    &__mobile {
        display: none;
        @include media-breakpoint-down(md) {
            display: flex;
            align-items: center;
            align-self: stretch;
            background: transparent;
            cursor: pointer;
            &__wrapper {
                transform-origin: center center;
                display: inline-flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                position: relative;
                @include media-breakpoint-down(md) {
                    min-height: 14px;
                    min-width: 24px;
                }
                &:before,
                &:after {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    background: $color-text;
                    left: 0;
                    transform-origin: center;
                    transition: $trsn;
                }
                &:before {
                    position: absolute;
                    top: 0%;
                }
                &:after {
                    position: absolute;
                    bottom: 0%;
                }
            }
            &.toggled {
                .header__mobile__wrapper {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    &:before {
                        transform: rotateZ(45deg) scaleX(1.25) translate(3.8px, 3.8px);
                    }
                    &:after {
                        transform: rotateZ(-45deg) scaleX(1.25) translate(3.8px, -3.8px);
                    }
                }
            }
        }
    }
    &__dropdown {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
            position: fixed;
            z-index: 94;
            top: 0;
            right: 0;
            bottom: 0;
            transform: translate(100%, 0);
            visibility: hidden;
            opacity: 0;
            transition: $trsn;
            background: $primary-1;
            height: auto;
            max-width: 307px;
            width: 100%;
            overflow: auto;
            order: 5;
        }
        .container {
            margin-top: 10px;
            padding-top: 0;
            padding-bottom: 0;
            position: relative;
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__flex {
            display: block;
            padding-top: 60px;
            ul {
                display: block;
                text-align: right;
                li {
                    a {
                        display: block;
                        font-size: 15px;
                        font-weight: 700;
                        margin-bottom: 40px;
                    }
                }
            }
            .js-header-btn {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
        &__social {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            ul {
                li {
                    a {
                        background-color: $secondary;
                        &:hover {
                            background-color: $secondary-hover;
                        }
                    }
                }
            }
        }
        &.toggled {
            transform: translate(0, 0);
            visibility: visible;
            opacity: 1;
        }
    }
    .overlay.toggled {
        position: fixed;
        inset: 0 0 0 0;
        z-index: 60;
    }
    .fixed-blocks {
        @include media-breakpoint-up(lg) {
            display: none;  
        }
        @include media-breakpoint-down(md) {
            display: none;
            align-items: center;
            .btn {
                font-size: 12px;
                padding: 10px 16px 10px;
            }
        }
    }
}


@keyframes HeaderAnim {
    0% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 0%);
    }
}
